div{
    display: inline-block;
}

.chessboard {
    border: 1px solid black;
}

.black {
    background-color: black;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
}

.white {
    background-color: whitesmoke;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
}